In [ ]:
# Importación de librerías principales
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [ ]:
# Carga del archivo Excel
uploaded = files.upload()

# Lectura del archivo
df = pd.read_excel("Produccion de Petroleo Condensado segun Departamento segun Año y Mes 2001 - 2025.xlsx")

# Visualización inicial
df.head()

Saving Produccion de Petroleo Condensado segun Departamento segun Año y Mes 2001 - 2025.xlsx to Produccion de Petroleo Condensado segun Departamento segun Año y Mes 2001 - 2025 (1).xlsx

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL
0,2001,574856.0,0.0,5024769.0,1244754.84,4579678.0,11424057.84
1,Enero,52441.0,0.0,429738.0,97065.84,356627.0,935871.84
2,Febrero,46208.0,0.0,390136.0,71270.00,322102.0,829716.00
3,Marzo,51404.0,0.0,430387.0,81563.00,375845.0,939199.00
4,Abril,48733.0,0.0,403865.0,77640.00,357124.0,887362.00

In [ ]:
df

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL
0,2001,574856.00,0.0,5024769.00,1244754.84,4.579678e+06,1.142406e+07
1,Enero,52441.00,0.0,429738.00,97065.84,3.566270e+05,9.358718e+05
2,Febrero,46208.00,0.0,390136.00,71270.00,3.221020e+05,8.297160e+05
3,Marzo,51404.00,0.0,430387.00,81563.00,3.758450e+05,9.391990e+05
4,Abril,48733.00,0.0,403865.00,77640.00,3.571240e+05,8.873620e+05
...,...,...,...,...,...,...,...
302,Agosto,168480.79,0.0,42535.06,330653.25,3.435791e+05,8.852482e+05
303,Septiembre,153443.53,0.0,38148.88,301277.49,3.144105e+05,8.072804e+05
304,Octubre,144343.44,0.0,41364.97,295243.85,3.163798e+05,7.973320e+05
305,Noviembre,145157.07,0.0,39304.82,291394.21,3.107397e+05,7.865958e+05
306,Diciembre,146212.73,0.0,40453.47,296582.66,3.287212e+05,8.119701e+05

###Reparacion y Limpieza de datos

In [ ]:
df = df.dropna(subset=['PERIODO'])
df.head(25)

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL
0,2001,574856.0,0.0,5024769.0,1244754.84,4579678.0,11424057.84
1,Enero,52441.0,0.0,429738.0,97065.84,356627.0,935871.84
2,Febrero,46208.0,0.0,390136.0,71270.00,322102.0,829716.00
3,Marzo,51404.0,0.0,430387.0,81563.00,375845.0,939199.00
4,Abril,48733.0,0.0,403865.0,77640.00,357124.0,887362.00
5,Mayo,48921.0,0.0,431071.0,113910.00,395762.0,989664.00
6,Junio,46873.0,0.0,416853.0,103278.00,378304.0,945308.00
7,Julio,47002.0,0.0,435491.0,109615.00,382833.0,974941.00
8,Agosto,48146.0,0.0,396781.0,102436.00,371585.0,918948.00
9,Septiembre,46740.0,0.0,405409.0,110023.00,403310.0,965482.00
10,Octubre,48618.0,0.0,433334.0,130405.00,394475.0,1006832.00
11,Noviembre,44615.0,0.0,424628.0,125772.00,417125.0,1012140.00
12,Diciembre,45155.0,0.0,427076.0,121777.00,424586.0,1018594.00
14,2002,516309.0,0.0,4611903.0,1935718.00,4273710.0,11337640.00
15,Enero,43537.0,0.0,407285.0,114327.00,412703.0,977852.00
16,Febrero,39466.0,0.0,363874.0,111850.00,342971.0,858161.00
17,Marzo,44134.0,0.0,395232.0,142462.00,366416.0,948244.00
18,Abril,42685.0,0.0,371430.0,138940.00,355086.0,908141.00
19,Mayo,43393.0,0.0,376392.0,138366.00,365133.0,923284.00
20,Junio,46405.0,0.0,357273.0,135804.00,348780.0,888262.00
21,Julio,46479.0,0.0,364097.0,151748.00,362536.0,924860.00
22,Agosto,44673.0,0.0,384013.0,196029.00,349584.0,974299.00
23,Septiembre,42245.0,0.0,379044.0,203020.00,346295.0,970604.00
24,Octubre,42057.0,0.0,391507.0,217387.00,345236.0,996187.00
25,Noviembre,39707.0,0.0,377867.0,199419.00,333458.0,950451.00

In [ ]:
# CAMBIAMOS LOS MESES A NUMEROS

# CAMBIAMOS LOS MESES A NUMEROS

In [ ]:
# Diccionario de meses en español a su número
meses = {
    "Enero": "01",
    "Febrero": "02",
    "Marzo": "03",
    "Abril": "04",
    "Mayo": "05",
    "Junio": "06",
    "Julio": "07",
    "Agosto": "08",
    "Septiembre": "09",
    "Octubre": "10",
    "Noviembre": "11",
    "Diciembre": "12"
}

# Convertir la columna a string para manejar tipos mixtos y evitar NaN inesperados
df["PERIODO"] = df["PERIODO"].astype(str)

# Crear una máscara para identificar valores que son años entre 2001 y 2025 (asumiendo que son strings de exactamente 4 dígitos)
mask_years = df["PERIODO"].str.match(r'^\d{4}$') & df["PERIODO"].between('2001', '2025')

# Reemplazar solo en las filas que NO son años (para evitar cambios o NaN en años)
for mes, num in meses.items():
    # Aplicar el reemplazo solo donde NO es un año
    df.loc[~mask_years, "PERIODO"] = df.loc[~mask_years, "PERIODO"].str.replace(mes, num, regex=False)

# Verificar los primeros valores para confirmar el resultado
print(df["PERIODO"].head())

0    2001
1     01
2      02
3      03
4      04
Name: PERIODO, dtype: object

/tmp/ipython-input-606299279.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PERIODO"] = df["PERIODO"].astype(str)

# CREAMOS UNA  NUEVA COLUMNA QUE AGARRE LOS AÑOS EN OTRA COLUMNA

In [ ]:
anhos_validos = [str(anho) for anho in range(2001, 2026)]

# 👉 Paso 3: Definir la función que valida si un valor es un año
def es_anho(valor):
    valor_str = str(valor).strip()
    if valor_str in anhos_validos:
        return valor_str  # Devuelve el año como string
    else:
        return np.nan

# 👉 Paso 4: Aplicar la función a la columna que contiene años/meses
# Reemplaza 'NombreDeColumna' con el nombre real de la columna en tu Excel
df['anhos'] = df['PERIODO'].apply(es_anho)

# 👉 Paso 5 (opcional): Ver el resultado
print(df.head())

  PERIODO  CHUQUISACA  LA PAZ  COCHABAMBA      TARIJA  SANTA CRUZ  \
0    2001    574856.0     0.0   5024769.0  1244754.84   4579678.0
1     01      52441.0     0.0    429738.0    97065.84    356627.0
2      02     46208.0     0.0    390136.0    71270.00    322102.0
3      03     51404.0     0.0    430387.0    81563.00    375845.0
4      04     48733.0     0.0    403865.0    77640.00    357124.0

         TOTAL anhos
0  11424057.84  2001
1    935871.84   NaN
2    829716.00   NaN
3    939199.00   NaN
4    887362.00   NaN

/tmp/ipython-input-2458821492.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anhos'] = df['PERIODO'].apply(es_anho)

In [ ]:
df.head(25)

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL,anhos
0,2001,574856.0,0.0,5024769.0,1244754.84,4579678.0,11424057.84,2001
1,01,52441.0,0.0,429738.0,97065.84,356627.0,935871.84,NaN
2,02,46208.0,0.0,390136.0,71270.00,322102.0,829716.00,NaN
3,03,51404.0,0.0,430387.0,81563.00,375845.0,939199.00,NaN
4,04,48733.0,0.0,403865.0,77640.00,357124.0,887362.00,NaN
5,05,48921.0,0.0,431071.0,113910.00,395762.0,989664.00,NaN
6,06,46873.0,0.0,416853.0,103278.00,378304.0,945308.00,NaN
7,07,47002.0,0.0,435491.0,109615.00,382833.0,974941.00,NaN
8,08,48146.0,0.0,396781.0,102436.00,371585.0,918948.00,NaN
9,09,46740.0,0.0,405409.0,110023.00,403310.0,965482.00,NaN
10,10,48618.0,0.0,433334.0,130405.00,394475.0,1006832.00,NaN
11,11,44615.0,0.0,424628.0,125772.00,417125.0,1012140.00,NaN
12,12,45155.0,0.0,427076.0,121777.00,424586.0,1018594.00,NaN
14,2002,516309.0,0.0,4611903.0,1935718.00,4273710.0,11337640.00,2002
15,01,43537.0,0.0,407285.0,114327.00,412703.0,977852.00,NaN
16,02,39466.0,0.0,363874.0,111850.00,342971.0,858161.00,NaN
17,03,44134.0,0.0,395232.0,142462.00,366416.0,948244.00,NaN
18,04,42685.0,0.0,371430.0,138940.00,355086.0,908141.00,NaN
19,05,43393.0,0.0,376392.0,138366.00,365133.0,923284.00,NaN
20,06,46405.0,0.0,357273.0,135804.00,348780.0,888262.00,NaN
21,07,46479.0,0.0,364097.0,151748.00,362536.0,924860.00,NaN
22,08,44673.0,0.0,384013.0,196029.00,349584.0,974299.00,NaN
23,09,42245.0,0.0,379044.0,203020.00,346295.0,970604.00,NaN
24,10,42057.0,0.0,391507.0,217387.00,345236.0,996187.00,NaN
25,11,39707.0,0.0,377867.0,199419.00,333458.0,950451.00,NaN

# LLENAMOS LOS NULOS CON EL AÑO QUE LES CORRESPONDE EN CADA FILA

In [ ]:
df['anhos'] = df['anhos'].ffill()

/tmp/ipython-input-2069944810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anhos'] = df['anhos'].ffill()

In [ ]:
df.head(25)

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL,anhos
0,2001,574856.0,0.0,5024769.0,1244754.84,4579678.0,11424057.84,2001
1,01,52441.0,0.0,429738.0,97065.84,356627.0,935871.84,2001
2,02,46208.0,0.0,390136.0,71270.00,322102.0,829716.00,2001
3,03,51404.0,0.0,430387.0,81563.00,375845.0,939199.00,2001
4,04,48733.0,0.0,403865.0,77640.00,357124.0,887362.00,2001
5,05,48921.0,0.0,431071.0,113910.00,395762.0,989664.00,2001
6,06,46873.0,0.0,416853.0,103278.00,378304.0,945308.00,2001
7,07,47002.0,0.0,435491.0,109615.00,382833.0,974941.00,2001
8,08,48146.0,0.0,396781.0,102436.00,371585.0,918948.00,2001
9,09,46740.0,0.0,405409.0,110023.00,403310.0,965482.00,2001
10,10,48618.0,0.0,433334.0,130405.00,394475.0,1006832.00,2001
11,11,44615.0,0.0,424628.0,125772.00,417125.0,1012140.00,2001
12,12,45155.0,0.0,427076.0,121777.00,424586.0,1018594.00,2001
14,2002,516309.0,0.0,4611903.0,1935718.00,4273710.0,11337640.00,2002
15,01,43537.0,0.0,407285.0,114327.00,412703.0,977852.00,2002
16,02,39466.0,0.0,363874.0,111850.00,342971.0,858161.00,2002
17,03,44134.0,0.0,395232.0,142462.00,366416.0,948244.00,2002
18,04,42685.0,0.0,371430.0,138940.00,355086.0,908141.00,2002
19,05,43393.0,0.0,376392.0,138366.00,365133.0,923284.00,2002
20,06,46405.0,0.0,357273.0,135804.00,348780.0,888262.00,2002
21,07,46479.0,0.0,364097.0,151748.00,362536.0,924860.00,2002
22,08,44673.0,0.0,384013.0,196029.00,349584.0,974299.00,2002
23,09,42245.0,0.0,379044.0,203020.00,346295.0,970604.00,2002
24,10,42057.0,0.0,391507.0,217387.00,345236.0,996187.00,2002
25,11,39707.0,0.0,377867.0,199419.00,333458.0,950451.00,2002

# UNIMOS LA  NUEVA COLUMNA PARA QUE SEA GESTION AÑO Y MES

In [ ]:
# Convertir las columnas a numéricas (forzando los errores a NaN si hay texto)
df["PERIODO"] = pd.to_numeric(df["PERIODO"], errors="coerce")
df["anhos"] = pd.to_numeric(df["anhos"], errors="coerce")

# Eliminar filas donde 'PERIODO' sea mayor o igual a 13 o NaN
df = df[df["PERIODO"].notna()]           # elimina filas con NaN en PERIODO
df = df[df["PERIODO"] < 13]              # conserva solo los valores 1–12

# Convertir finalmente a enteros
df["PERIODO"] = df["PERIODO"].astype(int)
df["anhos"] = df["anhos"].astype(int)

# Mostrar las primeras filas para verificar
df.head()

/tmp/ipython-input-2329930036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PERIODO"] = pd.to_numeric(df["PERIODO"], errors="coerce")
/tmp/ipython-input-2329930036.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["anhos"] = pd.to_numeric(df["anhos"], errors="coerce")

,PERIODO,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL,anhos
1,1,52441.0,0.0,429738.0,97065.84,356627.0,935871.84,2001
2,2,46208.0,0.0,390136.0,71270.00,322102.0,829716.00,2001
3,3,51404.0,0.0,430387.0,81563.00,375845.0,939199.00,2001
4,4,48733.0,0.0,403865.0,77640.00,357124.0,887362.00,2001
5,5,48921.0,0.0,431071.0,113910.00,395762.0,989664.00,2001

In [ ]:
# Renombrar columnas
df = df.rename(columns={
    "PERIODO": "Mes",
    "anhos": "Anhos"
})

# Verificar el cambio
df.head()

,Mes,CHUQUISACA,LA PAZ,COCHABAMBA,TARIJA,SANTA CRUZ,TOTAL,Anhos
1,1,52441.0,0.0,429738.0,97065.84,356627.0,935871.84,2001
2,2,46208.0,0.0,390136.0,71270.00,322102.0,829716.00,2001
3,3,51404.0,0.0,430387.0,81563.00,375845.0,939199.00,2001
4,4,48733.0,0.0,403865.0,77640.00,357124.0,887362.00,2001
5,5,48921.0,0.0,431071.0,113910.00,395762.0,989664.00,2001

# SE ELIMINA LA PAZ PORQUE ESTAN VACIOS LOS DATOS Y SE ELIMINA TOTAL Y PERIODO YA QUE NO AYUDAN EN NADA

In [ ]:
df = df.drop(columns=['TOTAL', 'LA PAZ'])
df.head(50)

    Mes  CHUQUISACA  COCHABAMBA     TARIJA  SANTA CRUZ  Anhos
1     1     52441.0    429738.0   97065.84    356627.0   2001
2     2     46208.0    390136.0   71270.00    322102.0   2001
3     3     51404.0    430387.0   81563.00    375845.0   2001
4     4     48733.0    403865.0   77640.00    357124.0   2001
5     5     48921.0    431071.0  113910.00    395762.0   2001
6     6     46873.0    416853.0  103278.00    378304.0   2001
7     7     47002.0    435491.0  109615.00    382833.0   2001
8     8     48146.0    396781.0  102436.00    371585.0   2001
9     9     46740.0    405409.0  110023.00    403310.0   2001
10   10     48618.0    433334.0  130405.00    394475.0   2001
11   11     44615.0    424628.0  125772.00    417125.0   2001
12   12     45155.0    427076.0  121777.00    424586.0   2001
15    1     43537.0    407285.0  114327.00    412703.0   2002
16    2     39466.0    363874.0  111850.00    342971.0   2002
17    3     44134.0    395232.0  142462.00    366416.0   2002
18    4     42685.0    371430.0  138940.00    355086.0   2002
19    5     43393.0    376392.0  138366.00    365133.0   2002
20    6     46405.0    357273.0  135804.00    348780.0   2002
21    7     46479.0    364097.0  151748.00    362536.0   2002
22    8     44673.0    384013.0  196029.00    349584.0   2002
23    9     42245.0    379044.0  203020.00    346295.0   2002
24   10     42057.0    391507.0  217387.00    345236.0   2002
25   11     39707.0    377867.0  199419.00    333458.0   2002
26   12     41528.0    443889.0  186366.00    345512.0   2002
29    1     40734.0    438891.0  203848.00    332907.0   2003
30    2     35591.0    384169.0  220154.00    289244.0   2003
31    3     37769.0    410742.0  227739.00    300675.0   2003
32    4     36524.0    397208.0  237209.00    292892.0   2003
33    5     37417.0    410406.0  263658.00    305657.0   2003
34    6     33029.0    382346.0  284038.00    293588.0   2003
35    7     34266.0    375073.0  292551.00    305413.0   2003
36    8     33868.0    374084.0  292417.00    305326.0   2003
37    9     32349.0    375479.0  313429.00    279760.0   2003
38   10     33871.0    414279.0  375159.00    283460.0   2003
39   11     33016.0    418503.0  389767.00    266694.0   2003
40   12     33368.0    428752.0  363446.00    271790.0   2003
43    1     32165.0    434324.0  362481.00    262454.0   2004
44    2     30850.0    429925.0  390249.00    238607.0   2004
45    3     34001.0    502570.0  450525.00    250394.0   2004
46    4     30801.0    466611.0  442644.00    248228.0   2004
47    5     33053.0    468521.0  480073.00    248635.0   2004
48    6     29657.0    449869.0  463244.00    246253.0   2004
49    7     30503.0    439562.0  471308.00    253179.0   2004
50    8     30702.0    423148.0  503048.00    242447.0   2004
51    9     28992.0    422141.0  516082.00    238408.0   2004
52   10     29399.0    432158.0  535920.00    238132.0   2004
53   11     27596.0    398159.0  517636.00    219809.0   2004
54   12     27162.0    394280.0  526111.00    220209.0   2004
57    1     27454.0    385389.0  609071.40    214762.0   2005
58    2     25271.0    331079.0  602284.50    188104.0   2005

In [ ]:
print(df.isnull().sum())

Mes           0
CHUQUISACA    0
COCHABAMBA    0
TARIJA        0
SANTA CRUZ    0
Anhos         0
dtype: int64

In [ ]:
df.head(50)

    Mes  CHUQUISACA  COCHABAMBA     TARIJA  SANTA CRUZ  Anhos
1     1     52441.0    429738.0   97065.84    356627.0   2001
2     2     46208.0    390136.0   71270.00    322102.0   2001
3     3     51404.0    430387.0   81563.00    375845.0   2001
4     4     48733.0    403865.0   77640.00    357124.0   2001
5     5     48921.0    431071.0  113910.00    395762.0   2001
6     6     46873.0    416853.0  103278.00    378304.0   2001
7     7     47002.0    435491.0  109615.00    382833.0   2001
8     8     48146.0    396781.0  102436.00    371585.0   2001
9     9     46740.0    405409.0  110023.00    403310.0   2001
10   10     48618.0    433334.0  130405.00    394475.0   2001
11   11     44615.0    424628.0  125772.00    417125.0   2001
12   12     45155.0    427076.0  121777.00    424586.0   2001
15    1     43537.0    407285.0  114327.00    412703.0   2002
16    2     39466.0    363874.0  111850.00    342971.0   2002
17    3     44134.0    395232.0  142462.00    366416.0   2002
18    4     42685.0    371430.0  138940.00    355086.0   2002
19    5     43393.0    376392.0  138366.00    365133.0   2002
20    6     46405.0    357273.0  135804.00    348780.0   2002
21    7     46479.0    364097.0  151748.00    362536.0   2002
22    8     44673.0    384013.0  196029.00    349584.0   2002
23    9     42245.0    379044.0  203020.00    346295.0   2002
24   10     42057.0    391507.0  217387.00    345236.0   2002
25   11     39707.0    377867.0  199419.00    333458.0   2002
26   12     41528.0    443889.0  186366.00    345512.0   2002
29    1     40734.0    438891.0  203848.00    332907.0   2003
30    2     35591.0    384169.0  220154.00    289244.0   2003
31    3     37769.0    410742.0  227739.00    300675.0   2003
32    4     36524.0    397208.0  237209.00    292892.0   2003
33    5     37417.0    410406.0  263658.00    305657.0   2003
34    6     33029.0    382346.0  284038.00    293588.0   2003
35    7     34266.0    375073.0  292551.00    305413.0   2003
36    8     33868.0    374084.0  292417.00    305326.0   2003
37    9     32349.0    375479.0  313429.00    279760.0   2003
38   10     33871.0    414279.0  375159.00    283460.0   2003
39   11     33016.0    418503.0  389767.00    266694.0   2003
40   12     33368.0    428752.0  363446.00    271790.0   2003
43    1     32165.0    434324.0  362481.00    262454.0   2004
44    2     30850.0    429925.0  390249.00    238607.0   2004
45    3     34001.0    502570.0  450525.00    250394.0   2004
46    4     30801.0    466611.0  442644.00    248228.0   2004
47    5     33053.0    468521.0  480073.00    248635.0   2004
48    6     29657.0    449869.0  463244.00    246253.0   2004
49    7     30503.0    439562.0  471308.00    253179.0   2004
50    8     30702.0    423148.0  503048.00    242447.0   2004
51    9     28992.0    422141.0  516082.00    238408.0   2004
52   10     29399.0    432158.0  535920.00    238132.0   2004
53   11     27596.0    398159.0  517636.00    219809.0   2004
54   12     27162.0    394280.0  526111.00    220209.0   2004
57    1     27454.0    385389.0  609071.40    214762.0   2005
58    2     25271.0    331079.0  602284.50    188104.0   2005

In [ ]:
from google.colab import files

# Guardar el DataFrame en un archivo Excel
df.to_excel("limpioML.xlsx", index=False)

# Descargar el archivo
files.download("limpioML.xlsx")